{% extends 'index.html' %}
{% load static %}
{% block title %}Inicio de sesión mediante Google{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/allauth.css' %}">
<div class="allauth-container">
    <h2>Inicio de sesión mediante Google</h2>
    <p>Se dispone a iniciar sesión usando una cuenta externa desde Google.</p>
    <a href="/accounts/google/login/" class="google-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" class="google-icon" alt="Google icon"/>
        Continuar con Google
    </a>
</div>
{% endblock %}
