{% extends 'index.html' %}

{% load static %}

{% block title %}Inicio - Gestión de Permisos{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<div class="home-container">
    <h1>Bienvenido a la Gestión de Permisos</h1>
    <p>Por favor, selecciona una opción para continuar:</p>

    <div class="button-container">
        <a href="/login/" class="btn btn-primary">Iniciar Sesión</a>
        <a href="/register/" class="btn btn-secondary">Registrarse</a>
    </div>
</div>


{% endblock %}