{% extends 'index.html' %}

{% load static %}

{% block title %}Formulario de Permisos{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<div class="formulario-permisos">
    <h2>Formulario de Permisos</h2>
    <p>Bienvenido al formulario de permisos. Aquí puedes gestionar tus solicitudes.</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, officia? Tempore porro explicabo minus cum autem ducimus nemo, iste harum molestiae deleniti at, eveniet natus aspernatur neque magni ea quaerat?
</div>
{% endblock %}